#todo{
margin: 0 auto;
}

.contenidoEncabezado{
float:left;
}

#login{
margin-top:10px;
margin-left: 100px;
float: left;
}

#menu{
margin-top:1px;
margin-left: 100px;
float: left;
}

#principalesContenedor{
	z-index: 10;
	background-color: white;
	padding-top: 20px;
	margin-left: 20%;
	
}
#misContrapuntosContenedor{
	z-index: 10;
	background-color: white;
	padding-top: 20px;
	margin-left: 10px;
	float:left;
}
#TituloPrincipales{
	color:blue;
	font-family: Arial;
	font-weight:bold;
	font-size: 32px;
	
}
#TituloMisContrapuntos{
	color:blue;
	float:left;
	font-family: Arial;
	font-weight:bold;
	font-size: 32px;
	width:875px;
	
}
#TituloNuevoContrapunto{
	color:blue;
	float:left;
	font-family: Arial;
	font-weight:bold;
	font-size: 32px;
	width:650px;
	
}
#TituloContrapunto{
	color:blue;
	text-align:center;
	font-family: Arial;
	font-weight:bold;
	font-size: 32px;
	width:100%;
}
#AgregarContrpunto{
	color:blue;
	float: left;
	width:100px;
	font-family: Arial;
	font-weight:bold;
	font-size: 32px;
	width:100px;
	
}
.ControlesContrapunto{
	color:blue;
	float: left;
	width:100px;
	font-family: Arial;
	font-weight:bold;
	font-size: 32px;
	width:134px;
	padding-left:5px;
	
}
.principales{
	float: left;
	clear: left;
	z-index: 11;
}
.miContrapunto{
	float: left;
	clear: left;
	z-index: 11;
}
.principalesLadoIzq{
	background-image: url("../images/principales_izq.jpg");
	width: 10px;
	height: 98px;
	float:left;
}
.principalesLadoDer{
	background-image: url("../images/principales_der.jpg");
	width: 10px;
	height: 98px;
	float:left;
}
.principalesCentro{
	background-image: url("../images/principales_cen.jpg");
	background-repeat: repeat-x;
	width: 550px;
	height: 98px;
	float:left;
}
.miContrapuntoLadoIzq{
	background-image: url("../images/principales_izq.jpg");
	width: 10px;
	height: 98px;
	float:left;
}
.miContrapuntoLadoDer{
	background-image: url("../images/principales_der.jpg");
	width: 10px;
	height: 98px;
	float:left;
}
.miContrapuntoCentro{
	background-image: url("../images/principales_cen.jpg");
	background-repeat: repeat-x;
	width: 950px;
	height: 98px;
	float:left;
}
.tituloTop{
	padding-top:5px;
	color: gray;
	font-weight: bold;
	font-size: 18px;
}
.verResultadosLink{
	float:right;
	margin-top:25px;
}
#categoriasContenedor{
	z-index: 10;
	background-color: white;
	padding-top: 20px;
	padding-left: 60px;
	float:left;
}
.categoriasBordeSup{
	background-image: url("../images/categoriasBordeSup.png");
	width: 284px;
	height: 14px;
	float:left;
	clear: left;
}
.categoriasBordeInf{
	background-image: url("../images/categoriasBordeInf.png");
	width: 284px;
	height: 9px;
	float:left;
	clear: left;
}

.categoriasCentro{
	background-image: url("../images/categoriasCen.png");
	width: 284px;
	height: 500px;
	float:left;
	clear: left;
	font-weight:bold;
	background-repeat: repeat-y;
}

.tituloNuevoContrapunto{
	font-size:20pt;
	color:gray;
	padding-top:20px;
}

#encabezado{
	margin: 0 auto;
	width:1000px;
	height:66px;
	background-image: url("../images/encabezado_fondo.jpg");
	background-repeat: repeat-x;
}
#adentro{
margin: 0 auto;
background-color: white;
width:1000px;
height:700px;
}
#bordeizquierdo{
float:left;
height:100%;
width: 5px;
background-color: gray;
}
#bordederecho{
float:right;
height:100%;
width: 5px;
background-color: gray;
}
#contenido{
background-color: pink;
margin-top:35px;
margin-left:30px;
width:700px;
height:400px;
float:left;
overflow:auto;
}
#lista{
margin-top: 35px;
margin-right:30px;
float:right;
width:200px;
}
.opclista{
background-color:#505050;
float:left;
clear:left;
width:200px;
text-decoration: bold;
}
.contenidolista{
background-color:#707070;
float:left;
clear:left;
width: 200px;
}
body{
background-color: black;
color:rgba(2, 2, 129, 0.59);
font-family: verdana;
}
#tablaContrapunto{
	margin: 0 auto;
	text-align:center;
}
#divContrapunto{
	
	margin: 0 auto;
	text-align:center;	
}
#divSaltarContrapunto{
	
	margin: 0 auto;
	text-align:center;	
}
#votacionContrapuntosContenedor{
	z-index: 10;
	background-color: white;
	padding-top: 40px;
	margin-left: 10px;
}
#bordeinferior{
width:1000px;
float:left;
height:5px;
background-color: gray;
}
.scaffold-list{
	text-align:center;
	
}
.scaffold-list table{
	background-color:aliceblue;
	border-color:aliceblue;
	border-bottom: none;
	border-left:none;
	border-right:none;
	border-top:solid;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	margin: auto;
}
#pie{
width:1000px;
height:50px;
color:black;
margin: 0 auto;
background-color: #00ffff;
text-align:center;
}
#pie p{
	padding-top:20px;
	
}
a{
	text-decoration:none;
	color:rgba(2, 2, 129, 0.59);
}
.scaffold-list th{
	background-color:aliceblue;
	border-collapse:collapse;
	border: none;
	
}